# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv/
env/
venv/
ENV/
build/
dist/
*.egg-info/

# OS
.DS_Store

# Streamlit
.streamlit/secrets.toml

# Env files
.env
.env.*

# Editor
.vscode/
.idea/


